#pane{
  -fx-hgap: 50;
  -fx-vgap: 50;
  -fx-padding: 50;
  -fx-border-insets: 50;
  -fx-border-radius: 30;
}


/* Style based on css code taken from http://fxexperience.com/2011/12/styling-fx-buttons-with-css/*/

#Button{
  -fx-background-color:
      linear-gradient(#f0ff35, #6ff50a);
  -fx-background-radius: 6, 5;
  -fx-background-insets: 0, 1;
  -fx-text-fill: #395306;
}

#SliderText{
  -fx-font-family: "Times New Roman";
}
