#pane{
  -fx-min-width: 50;
  /*-fx-padding: 50;*/
  -fx-alignment: CENTER;
  /*-fx-border-insets: 50;*/
  /*-fx-border-radius: 30;*/
}

/* Style based on css code taken from http://fxexperience.com/2011/12/styling-fx-buttons-with-css/*/

#Button{
  -fx-background-color:
      linear-gradient(#f0ff35, #6ff50a);
  -fx-background-radius: 6, 5;
  -fx-background-insets: 0, 1;
  -fx-text-fill: #395306;

}
#SliderText{
  -fx-font-family: "Times New Roman";
  -fx-alignment: CENTER;
}
#Container-Vbox{
  -fx-alignment: CENTER;
  -fx-padding: 20;
  -fx-start-margin: 20;
}
.text-area{
  -fx-alignment: CENTER;
  -fx-pref-height: 200;
  -fx-pref-width: 250;
}
#files-button{
  -fx-alignment: CENTER;
  -fx-pref-height: 50;
  -fx-pref-width: 120;
  -fx-background-color: lightgrey;
  -fx-border-color: black;
}

#Container-HBox{
  -fx-alignment: CENTER;
  -fx-padding: 10;
  -fx-spacing: 50;
}

#drop-button{
  -fx-alignment: CENTER;
  -fx-pref-height: 30;
  -fx-pref-width: 100;
  -fx-background-color: lightgrey;
}

#TextBox{
  -fx-pref-width: 20;
  -fx-pref-height: 70;
}